.background {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,4) 10%, rgba(252,16,4,1) 100%);
}

.header {
    width: 100%;
    background-color: #000000;
}

.navbar {
    margin-top: 0px;
    width: 100%;
    padding: 0px;
    background-color: #000000;
    white-space: nowrap;
}

.navigationBar {
    display: inline-block;
}

.navbar-ul {
    display: inline-block;
}

.nav-spacing {
    margin-right: 2em;
}
.nav-font {
    text-align: center;
    vertical-align: middle;
}


use class for multiple items   (uses a .dot)
use id for a single element