html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.backgroundStripey {
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 20px,
        black 20px,
        black 40px
      );
      /* with multiple color stop lengths */
      background-image: repeating-linear-gradient(
        -45deg,
        transparent 0 20px,
        rgb(201, 250, 6) 20px 40px
      );
  }

  .backgroundGradient {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,4) 20%, rgba(252,16,4,1) 100%);
}

.header {
    width: 100%;
    background-color: #000000;
}

.navbar {
    margin-top: 0px;
    width: 100%;
    padding: 0px;
    background-color: #000000;
    text-align: right;
}

.navigationBar {
    display: inline-block;
}


.navbar-ul {
    display: inline-block;
}

.nav-spacing {
    margin-right: 1em;
}

.nav-link {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}