html {
    height: 100%;
    background: url(../images/helmet.PNG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /* height: 100%; */
    margin: 0;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
}

  /* .backgroundGradient {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,4) 15%, rgba(252,16,4,1) 100%);
} */

.header {
    width: 100%;
    height: 50px;
    /* background-color: #000000; */
    background-image: repeating-linear-gradient(
        -45deg,
        transparent 0 20px,
        rgb(201, 250, 6) 20px 40px
      );
}

#navbar {
    margin-top: 0px;
    width: 100%;
    height: 50px;
    padding: 0px;
    /* background-color: #000000; */
    /* text-align: left;  */
}

.logo {
    float: left;
    /* box-shadow: 7px 7px 7px #666666; */
}

.textBar {
    float: right;
    text-align: right;
    display: inline-block;
}

.navbar-ul {
    display: inline-block;
}

.nav-spacing {
    margin-right: 1em;
}

.nav-link {
    color: black;
    background-color: rgb(201, 250, 6);
    padding: 5px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
