html {
    height: 100%;
    background: url(../images/helmet.PNG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    float: left;
    box-shadow: -3px 6px 4px #222;
    height: 50px;
    width: 100%;
    background-image: repeating-linear-gradient(
        -45deg,
        transparent 0 20px,
        rgb(201, 250, 6) 20px 40px
      );
}

.logo {
    float: left;
}

.homeButton {
  font-size: 2em;
  color: white;
  position: absolute;
  top: 4.5em;
  right: 35%;
  opacity: 95%;
  margin-top: -45px;
  z-index: 1000;
  background-color: green;
  border: none;
  padding: 6px 8px 4px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  box-shadow: -3px 6px 4px #222;
}

.loginArea {
  font-size: 2em;
  color: white;
  position: absolute;
  top: 4.5em;
  right: 3%;
  opacity: 95%;
  margin-top: -45px;
  z-index: 1000;
  background-color: green;
  border: none;
  padding: 6px 8px 4px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  box-shadow: -3px 6px 4px #222;
}

.cheatsheetButton {
  font-size: 2em;
  color: white;
  position: absolute;
  top: 4.5em;
  right: 18%;
  opacity: 95%;
  margin-top: -45px;
  z-index: 1000;
  background-color: green;
  border: none;
  color: white;
  padding: 6px 8px 4px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  box-shadow: -3px 6px 4px #222;
}

  #toggle {
    display: none;
  }

  .button {
    background-color: green;
    border: none;
    color: white;
    padding: 6px 8px 4px 8px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    box-shadow: -3px 6px 4px #222;
  }

  .footer {
    position: fixed;
    box-shadow: -3px -6px 4px #222;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-image: repeating-linear-gradient(
        225deg,
        transparent 0 20px,
        rgb(201, 250, 6) 20px 40px
      );
  }

  .card {
    color: white;
    font-size: 2em;
    opacity: 95%;
    padding: 300px 600px;
}

.card-content {
  max-width: 500px;
}

.hidden {
  display: none;
}

ul{
  list-style: none;
  width: 500px;
}

ul li{
  width: 100%;
  background:rgb(201, 250, 6);
  color: black;
  height: 80px;
  line-height: 40px;
  padding: 40px;
  position: relative;
  display: block;
  margin: 5px 0;
  box-shadow: -3px 6px 4px #222;
}

ul li span{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
  background: rgb(145, 10, 10);
  cursor: pointer;
  box-shadow: -3px 6px 4px #222;
}

.editHoses{
  color: rgb(145, 10, 10);
  cursor: pointer;
  background:rgb(201, 200, 6);
  box-shadow: -3px 6px 4px #222;
  font-size: large;
  text-align: center;

}

.addAppForm{
  width: 775px;
  color: black;
  font-size: large;
  font-weight: bold;
  background-color: rgb(201, 250, 6);
  opacity: 95%;
  box-shadow: -3px 6px 4px #222;
}

.addHoseForm{
  width: 950px;
  color: black;
  font-size: large;
  font-weight: bold;
  background-color: rgb(201, 250, 6);
  opacity: 95%;
  box-shadow: -3px 6px 4px #222;
}

.delButton{
  color: black;
  background-color: rgb(145, 10, 10);
}

.individualApparatus{
  width: 100%;
  background:rgb(201, 250, 6);
  color: black;
  text-align: center;
  box-shadow: -3px 6px 4px #222;
}